<div class="col-xs-12">
  <h1>Artikelliste</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_BAT-KF.jpg", :alt => "artikelliste", :class => "img-responsive center-block") %>

</div>

<p id="notice"><%= notice %></p>
<div class="col-xs-12">

  <% if current_user.present? %>

      </div>
      <h3>Alle Artikel</h3>

      <table class="table table-responsive table-striped">
        <thead>
        <tr>
          <th>Artikel Beschreibung</th>
          <th>Preis</th>
          <th>Noch verfügbar</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td>€ <%= article.price %></td>
              <td><%= article.count %></td>
              <td class="btn-group-vertical"><%= link_to 'Anzeigen', news %><%= link_to 'Bearbeiten', edit_news_path(news) %><%= link_to 'Löschen', news, method: :delete, data: { confirm: 'Sind sie sich sicher?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Neue News erstellen', new_news_path, target: "_self" %>

  <% else %>
      <%= link_to 'Melden Sie sich für den Newsletter an', new_abo_newscontent_path %>
  <% end %>


