<div class="col-xs-12">
  <h1>Artikelliste</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_BAT-KF.jpg", :alt => "artikelliste", :class => "img-responsive center-block") %>

</div>

<p id="notice"><%= notice %></p>
<div class="col-xs-12">

  <% if current_user.present? %>


      <h3>Alle Artikel</h3>
	  <%= link_to 'Artikel hinzufügen', new_article_path, target: "_self", class: "btn btn-default" %><br><br>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Artikelbeschreibung</th>
            <th>Preis</th>
            <th>Noch verfügbar</th>
            <th colspan="2"></th>
          </tr>
          </thead>

          <tbody>
          <% @articles.each do |article| %>
              <tr>
                <td><%= article.title %></td>
                <td>€ <%= article.price %></td>
                <td><%= article.count %></td>
                <td><%= link_to 'Bearbeiten', edit_article_path(article), class: "btn btn-default" %></td>
                <td><%= link_to 'Löschen', article, method: :delete, data: { confirm: 'Sind sie sich sicher?' }, class: "btn btn-danger" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>


      <%= link_to 'Artikel hinzufügen', new_article_path, target: "_self", class: "btn btn-default" %>

  <% else %>
      <%= link_to 'Melden Sie sich für den Newsletter an', new_abo_newscontent_path %>
  <% end %>

</div>
