<p id="notice"><%= notice %></p>

<h1>Newsletters</h1>
<% if current_user.present? %>
<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>Newsheader</th>
      <th>Newsbody</th>
      <th>Newsfooter</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.from %></td>
        <td><%= newsletter.newsHeader %></td>
        <td><%= newsletter.newsBody %></td>
        <td><%= newsletter.newsFooter %></td>
        <td class="btn-group-vertical"><%= link_to 'Anzeigen', newsletter %><%= link_to 'Bearbeiten', edit_newsletter_path(newsletter) %><%= link_to 'Löschen', newsletter, method: :delete, data: { confirm: 'Sind Sie sich sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Newsletter erstellen', new_newsletter_path %>

<% else %>
<%= link_to 'Melden Sie sich für den Newsletter an', new_abo_newsletter_path %>
<% end %>


