<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @newsletter.from %>
</p>
<!--
<p>
  <strong>To:</strong>
  <%#= @newsletter.to %>
</p>

<p>
  <strong>Type:</strong>
  <%#= @newsletter.type %>
</p>
-->
<p>
  <strong>Newsheader:</strong>
  <%= @newsletter.newsHeader %>
</p>

<p>
  <strong>Newsbody:</strong>
  <%= @newsletter.newsBody %>
</p>

<p>
  <strong>Newsfooter:</strong>
  <%= @newsletter.newsFooter %>
</p>
<!--
<p>
  <strong>Appendix:</strong>
  <%#= @newsletter.appendix %>
</p> -->

<%= link_to 'Bearbeiten', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Zurück', newsletters_path %>
