
<%= form_for(@contact_forms) do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
    </div>
      <div class="form-group">
        <%= f.label :name, "Email Adresse" %>
    <%= f.text_field :email %>
      </div>
        <div class="form-group">
          <%= f.label :name, "Nachricht" %>
    <%= f.text_area :message%>
        </div>
    <%= f.submit "Absenden"%>
<% end %>