<%= form_for(roomplaning) do |f| %>
  <% if roomplaning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roomplaning.errors.count, "error") %> prohibited this roomplaning from being saved:</h2>

      <ul>
      <% roomplaning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week %>
    <%= f.number_field :week %>
  </div>

  <div class="field">
    <%= f.label :monday %>
    <%= f.text_field :monday %>
  </div>

  <div class="field">
    <%= f.label :tuesday %>
    <%= f.text_field :tuesday %>
  </div>

  <div class="field">
    <%= f.label :wednesday %>
    <%= f.text_field :wednesday %>
  </div>

  <div class="field">
    <%= f.label :thursday %>
    <%= f.text_field :thursday %>
  </div>

  <div class="field">
    <%= f.label :friday %>
    <%= f.text_field :friday %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
