<p id="notice"><%= notice %></p>

<h1>Roomplanings</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roomplanings.each do |roomplaning| %>
      <tr>
        <td><%= roomplaning.year %></td>
        <td><%= roomplaning.week %></td>
        <td><%= roomplaning.monday %></td>
        <td><%= roomplaning.tuesday %></td>
        <td><%= roomplaning.wednesday %></td>
        <td><%= roomplaning.thursday %></td>
        <td><%= roomplaning.friday %></td>
        <td><%= link_to 'Show', roomplaning %></td>
        <td><%= link_to 'Edit', edit_roomplaning_path(roomplaning) %></td>
        <td><%= link_to 'Destroy', roomplaning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roomplaning', new_roomplaning_path %>
