<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @roomplaning.week %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @roomplaning.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @roomplaning.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @roomplaning.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @roomplaning.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @roomplaning.friday %>
</p>

<%= link_to 'Edit', edit_roomplaning_path(@roomplaning) %> |
<%= link_to 'Back', roomplanings_path %>
