<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Ihre Buchung</title>
</head>
<body>
<p>Es ist eine neue Bestellung eingegangen<br />

  Folgende Person hat bestellt:<br />
</p>
<table>

  <tbody>
      <tr>
        <td>Name: </td>
        <td><%= @person.name %></td>
      </tr>
      <tr>
        <td>Vorname: </td>
        <td><%= @person.vorname %></td>
      </tr>
      <tr>
        <td>Einrichtung: </td>
        <td><%= @person.einrichtung%></td>
      </tr>
      <tr>
        <td>Adresse: </td>
        <td><%= @person.adresse %></td>
      </tr>
      <tr>
        <td>Ort: </td>
        <td><%= @person.ort %></td>
      </tr>
      <tr>
        <td>Email Adresse: </td>
        <td><%= @person.email %></td>
      </tr>
  </tbody>
</table>
<p>
<%= @person.name %> möchte folgende Artikel bestellen:</p>

<% @sum = 0
   @anzahl = false
   @articles.each do |a|
     if a.anzahl > 1
       $anzahl = true
     end

   end
%>
<table>
  <thead>
  <td>Artikel</td>
  <td>Preis</td>
  <% if @anzahl %>
      <td>Anzahl</td>
  <% end %>
  </thead>
  <tbody>
  <% @articles.each do |a| %>
      <% @sum = @sum + a.sum %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.price%>€</td>
        <% if a.anzahl > 1 %>
            <td><%= a.anzahl%>€</td>
        <% end %>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= @sum %></td>
  </tr>
  </tbody>
</table>

<p>Bitte senden Sie in kürze "<%= @person.name %>" eine Rechnung.</p>

</body>
</html>