<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Ihre Buchung</title>
</head>
<body>
<p>Es ist eine neue Bestellung eingegangen<br />

  Folgende Person hat bestellt:<br />
</p>
<table>
  <thead>
    <td colspan="2" style="text-align: center"><b>Privatadresse</b></td>
    <td colspan="2" style="text-align: center"><b>Adresse der Dienstelle</b></td>
  </thead>

  <tbody>
    <tr>
      <td>Anrede: </td>
      <td><%= @person.gender %></td>
      <td colspan="2"></td>
    </tr>
      <tr>
        <td>Name: </td>
        <td><%= @person.name %></td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>Vorname: </td>
        <td><%= @person.vorname %></td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Einrichtung: </td>
        <td><%= @person.dienststelle %></td>
      </tr>
      <tr>
        <td>Adresse: </td>
        <td><%= @person.adresse %></td>
        <td></td>
        <td><%= @person.adresseD %></td>
      </tr>
      <tr>
        <td>Ort: </td>
        <td><%= @person.ort %></td>
        <td></td>
        <td><%= @person.ortD %></td>
      </tr>
      <tr>
        <td>Email Adresse: </td>
        <td><%= @person.email %></td>
        <td></td>
        <td><%= @person.emailD %></td>
      </tr>
    <tr>
      <td>Telefonnummer: </td>
      <td><%= @person.phone %></td>
      <td></td>
      <td><%= @person.phoneD %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>Kostenstelle / Bestellkennzeichen</td>
      <td><%= @person.bestell %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <td colspan="2" style="text-align: center"><b>Rechnungsadresse</b></td>
  </thead>
  <tbody>
  <tr>
    <td>Name: </td>
    <td><%= @person.nameR %></td>
  </tr>
  <tr>
    <td>Vorname: </td>
    <td><%= @person.vornameR %></td>
  </tr>
  <tr>
    <td>Einrichtung: </td>
    <td><%= @person.dienststelleR %></td>
  </tr>
  <tr>
    <td>Adresse: </td>
    <td><%= @person.adresseR %></td>
  </tr>
  <tr>
    <td>Ort: </td>
    <td><%= @person.ortR %></td>
  </tr>
  <tr>
    <td>Email Adresse: </td>
    <td><%= @person.emailR %></td>
  </tr>
  </tbody>
</table>
<p>
<%= @person.name %> möchte folgende Artikel bestellen:</p>

<%
  @articles.each do |a|
    if a['anzahl'] > 1
      @anzahl = true
    end

  end
%>
<table>
  <thead>
  <td>Artikel</td>
  <td>Preis</td>
  <% if @anzahl %>
      <td>Anzahl</td>
  <% end %>
  </thead>
  <tbody>
  <% @articles.each do |a| %>
      <% @sum = @sum + a['sum'] %>
      <tr>
        <td><%= a['title'] %></td>
        <td><%= a['price'] %> €</td>
        <% if a['anzahl'] > 1 %>
            <td><%= a['anzahl'] %></td>
        <% end %>
      </tr>
  <% end %>
  <tr>
    <td style="text-align: right;">Summe:</td>
    <td><%= @sum %> €</td>
  </tr>
  </tbody>
</table>

<p>Bitte senden Sie in kürze "<%= @person.name %>" eine Rechnung.</p>

</body>
</html>