<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Ihre Buchung</title>
</head>
<body>
<p>Es ist eine neue Bestellung eingegangen<br />

  Folgende Person hat bestellt:<br />
</p>
<table>
  <thead>
  <% if @person.adresse != "" %>
    <td colspan="2" ><b>Privatadresse</b></td>
  <% else %>
    <td colspan="2" ><b>Adresse der Dienstelle</b></td>
  <% end %>
  </thead>

  <tbody>
    <tr>
      <td>Anrede: </td>
      <td><%= @person.gender %></td>

    </tr>
      <tr>
        <td>Name: </td>
        <td><%= @person.name %></td>

      </tr>
      <tr>
        <td>Vorname: </td>
        <td><%= @person.vorname %></td>

      </tr>
    <% if @person.dienststelle != "" %>
      <tr>
        <td>Einrichtung: </td>
        <td><%= @person.dienststelle %></td>
      </tr>
    <% end %>
      <tr>
        <td>Adresse: </td>
        <% if @person.adresse != "" %>
        <td><%= @person.adresse %></td>
        <% elsif @person.adresseD != "" %>
        <td><%= @person.adresseD %></td>
        <% end %>
      </tr>
      <tr>
        <td>Ort: </td>
        <% if @person.ort != "" %>
        <td><%= @person.ort %></td>
        <% else %>
        <td><%= @person.ortD %></td>
        <% end %>
      </tr>
      <tr>
        <td>Email Adresse: </td>
        <% if @person.email != "" %>
        <td><%= @person.email %></td>
        <% else %>
        <td><%= @person.emailD %></td>
        <% end %>
      </tr>
    <tr>
      <% if @person.phone != "" && @person.phone != nil %>
          <td>Telefonnummer: </td>
      <td><%= @person.phone %></td>
      <% elsif @person.phoneD != "" && @person.phoneD != nil %>
          <td>Telefonnummer: </td>
      <td><%= @person.phoneD %></td>
      <% end %>
    </tr>
    <% if @person.faxD != "" && @person.faxD != nil %>
    <tr>
      <td>Fax: </td>
      <td><%= @person.faxD %></td>
    </tr>
    <% end %>
    <% if @person.bestell != "" && @person.bestell != nil %>
    <tr>
      <td>Kostenstelle / Bestellkennzeichen</td>
      <td><%= @person.bestell %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <td colspan="2" ><b>Lieferadresse</b></td>
  </thead>
  <tbody>
  <tr>
    <td>Name: </td>
    <td><%= @person.nameR %></td>
  </tr>
  <tr>
    <td>Vorname: </td>
    <td><%= @person.vornameR %></td>
  </tr>
  <tr>
    <td>Einrichtung: </td>
    <td><%= @person.dienststelleR %></td>
  </tr>
  <tr>
    <td>Adresse: </td>
    <td><%= @person.adresseR %></td>
  </tr>
  <tr>
    <td>Ort: </td>
    <td><%= @person.ortR %></td>
  </tr>
  </tbody>
</table>
<p>
<%= @person.name %> möchte folgende Artikel bestellen:</p>

<%
  @articles.each do |a|
    if a['anzahl'] > 1
      @anzahl = true
    end

  end
%>
<table>
  <thead>
  <td>Artikel</td>
  <td>Preis</td>
  <% if @anzahl %>
      <td>Anzahl</td>
  <% end %>
  </thead>
  <tbody>
  <% @articles.each do |a| %>
      <% @sum = @sum + a['sum'] %>
      <tr>
        <td><%= a['title'] %></td>
        <td><%= a['price'] %> €</td>
        <% if a['anzahl'] > 1 %>
            <td><%= a['anzahl'] %></td>
        <% end %>
      </tr>
  <% end %>
  <tr>
    <td style="text-align: right;">Summe:</td>
    <td><%= @sum %>0 €</td>
  </tr>
  </tbody>
</table>

<p>Bitte senden Sie in kürze "<%= @person.name %>" eine Rechnung.</p>

</body>
</html>