<div class="col-xs-12">
  <h1>Aktuelles</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>


<div class="col-xs-12">
  <p id="notice"><%= notice %></p>
  <% if current_user.present? %>


      <h3>Aktuelles Archiv</h3>


      <table class="table table-responsive table-striped">
        <thead>
        <tr>
          <th>Datum</th>
          <th>Überschrift</th>
          <th>Unterüberschrift</th>
          <th>Neuigkeit</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @news.each do |news| %>
            <tr>
              <td><%= news.created_at.strftime("%d.%m.%Y") %></td>
              <td><%= news.title %></td>
              <td><%= news.subTitle %></td>
              <td><%= truncate(ActionView::Base.full_sanitizer.sanitize(news.story.html_safe), length: 200) %></td>
              <td><%= link_to 'Anzeigen', news, class: "btn btn-default" %></td>
              <td><%= link_to 'Bearbeiten', edit_news_path(news), :target => "_self", class: "btn btn-default" %></td>
              <td><%= link_to 'Löschen', news, method: :delete, data: { confirm: 'Sind sie sich sicher?' }, class: "btn btn-default" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Neuen Eintrag erstellen', new_news_path, target: "_self", class: "btn btn-default" %>

  <% else %>
      <!-- TODO -->
      <%= link_to 'Melden Sie sich für den Newsletter an', new_abo_newscontent_path %>
  <% end %>


</div>