<div class="col-xs-12">
  <h1>Archiv für Aktuelle Neuigkeiten</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>


<div class="col-xs-12">
  <p id="notice"><%= notice %></p>

      <h3>Archiv</h3>

      <table class="table table-responsive table-striped">
        <thead>
        <tr>
          <th>Datum</th>
          <th>Überschrift</th>
          <th>Neuigkeit</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @news.each do |news| %>
            <tr>
              <td><%= news.created_at.strftime("%d.%m.%Y") %></td>
              <td><%= news.title %></td>
              <td><%= truncate(ActionView::Base.full_sanitizer.sanitize(news.story.html_safe), length: 200) %></td>
              <td><%= link_to 'Anzeigen', news, class: "btn btn-default" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

</div>


