
<div class="col-xs-12">
  <h1><%= @news.title %></h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "News", :class => "img-responsive center-block") %>
</div>

<p id="notice"><%= notice %></p>

<% if(@news.subTitle == "") %>

<% else %>
    <div class="col-sm-12">
      <h3><%= @news.subTitle %></h3>
    </div>
<% end %>
<div class="col-xs-12 mehrspaltig">
  <%= @news.story.html_safe %>
</div>

<% if current_user.present? %>
    <% if current_user.has_role?(:news) || current_user.has_role?(:admin) || current_user.has_role?(:superadmin) %>

        <%= link_to 'Zur Startseite', news_index_path, class: "btn btn-default" %>

        <%= link_to 'Zurück', admin_news_path, class: "btn btn-default" %>
    <% else %>
        <%= link_to 'Zurück', news_index_path, class: "btn btn-default" %>

    <% end %>
<% else %>
    <%= link_to 'Zurück', news_index_path, class: "btn btn-default" %>
<% end %>