
<div class="col-xs-12">
  <h1><%= @news.title %></h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "News", :class => "img-responsive center-block") %>
</div>

<p id="notice"><%= notice %></p>

<% if(@news.subTitle.empty("")) %>

<% else %>
  <h3><%= @news.subTitle %></h3>
<% end %>
<div class="col-xs-12 col-sm-6">
  <p><%= @news.story.html_safe %></p>
</div>
<div class="col-xs-12 col-sm-6">

</div>
<%= link_to 'Zurück', news_index_path %>
