<div class="col-xs-12">
  <h1><%= @site %> Bearbeiten</h1>
</div>


<p id="notice"><%= notice %></p>
<div class="col-xs-12">

  <% if current_user.present? %>
    <% if current_user.has_role?(@site) || current_user.has_role?(:admin)%>
          <form class="new_page" id="new_page" action="/pages/<%= @site %>" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <div class="col-sm-12">
              <textarea class="tinymce" rows="50" name="page_content[content]" id="page_content" ><%= @page.content %></textarea>

            </div>
            <div class="actions">
              <input type="submit" class="btn btn-default" name="commit" value="Änderungen speichern" data-disable-with="Änderungen speichern" />
            </div>
          </form>
          <iframe id="form_target" name="form_target" style="display:none"></iframe>
          <form id="my_form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
            <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
          </form>
          <script type="text/javascript">

              //<![CDATA[
              (function() {
                  function initTinyMCE() {
                      if (typeof tinyMCE != 'undefined') {
                          tinymce.remove();
                          tinymce.init({
                              language: "de",
                              selector: ".tinymce",
                              height: 500,
                              plugins: [
                                  "advlist autolink autosave link image imagetools lists charmap print preview hr anchor pagebreak spellchecker",
                                  "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                                  "table contextmenu directionality template textcolor paste textcolor colorpicker textpattern"
                              ],
                              file_browser_callback: function(field_name, url, type, win) {
                              if(type=='image') $('#my_form input').click();
                              },

                              toolbar1: "fontselect | fontsizeselect | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | table spellchecker | outdent indent | link unlink | image | rotateleft rotateright | flipv fliph | blockquote code | preview",

                              menubar: 'file edit insert view format',
                              toolbar_items_size: 'normal',

                              content_css: [
                                  '//https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
                              ]
                          });

                      } else {
                          setTimeout(initTinyMCE, 50);
                      }
                  }

                  initTinyMCE();
              })();

              //]]>
          </script>

<% end %>
  <% else %>
      <%= link_to 'Melden Sie sich für den Newsletter an', new_abo_newscontent_path %>
  <% end %>

</div>