<!DOCTYPE html>

<html lang="de">

  <head>

    <meta charset="UTF-8">

    <title>Abmeldung der Teilnehmers der Veranstaltung "<%= @event.title %>"</title>

  </head>

  <body>

    <p>Folgende Teilnehmer zu der Veranstaltung "<%= @event.title %>" wurden abgemeldet:</p>


    <table>
      <thead>
        <td>Teilnehmer</td>
        <td>E-Mail-Adresse</td>
      </thead>
      <% @members.each do |m| %>
        <tr>
          <td><%= m.firstName %> <%= m.lastName %></td>
          <td><%= m.eMail %></td>
        </tr>

      <% end %>
      <tr></tr>
    </table>

  </body>

</html>