<!DOCTYPE html>

<html lang="de">

  <head>

    <meta charset="UTF-8">

    <title>Abmeldung des Teilnehmers "<%= @member.lastName %>" der Veranstaltung "<%= @event.title %>"</title>

  </head>

  <body>

    <p>Folgender Teilnehmer zu der Veranstaltung "<%= @event.title %>" wurde abgemeldet:</p>


    <table>
      <tr>
        <td colspan="2">
          <h3><%= @member.gender%> <%= @member.firstName %> <%= @member.lastName %></h3>
          <p>Beruf: <%= @member.job %></p>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <h3>Kontaktdaten</h3>
          <%= @member.street %><br />
          <%= @member.plz %> <%= @member.place %><br />
          <br />
          Telefon: <%= @member.phone %><br />
          E-Mail:  <%= @member.eMail %>
        </td>
        <td valign="top">
          <h3>Rechnungsanschrift</h3>
          <%= @member.nameR %><br />
          <%= @member.adresseR %><br />
          <%= @member.ortR %><br />

          <% if @member.payed != "" %>
              <br />
              <p>Kostenstelle/Bestellkennzeichen: <%= @member.payed %></p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <h3>Dienststelle</h3>
          <%= @member.nameCompany %><br>
          <%= @member.streetCompany %><br>
          <%= @member.placeCompany %><br />
          E-Mail: <%= @member.eMailD %><br />
          Telefon: <%= @member.phoneD  %><br />
          Fax: <%= @member.faxD %>
        </td>
        <td valign="top">

        </td>
      </tr>
      <tr>
        <td valign="top">
          <h3>Buchung</h3>
          Zimmer: <%= @member.room %><br>
          Unverträglichkeiten / Vegetarier: <%= @member.veggie %>
        </td>
        <td valign="top">
        </td>
      </tr>
    </table>

  </body>

</html>