<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Veranstaltungsänderungen</title>
</head>
<body>
<h1>Veränderung der Veranstaltung: "<%= @event.title %>"</h1>

<table>
  <tr>
    <td></td>
    <td>Veranstaltung: </td>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <td></td>
    <td>Beschreibung: </td>
    <td><%= @event.description %></td>
  </tr>
  <tr>
    <td>Tag 1</td>
    <td></td>
    <td><%= @event.start.to_time.strftime("%d.%m.%Y") %></td>
    <td></td>
  </tr>
  <tr>
    <td>Beginn:</td>
    <td><%= @event.start.to_time.strftime("%k:%M") %></td>
    <td>Ende:</td>
    <td><%= @event.end.to_time.strftime("%k:%M") %></td>
  </tr>
  <% if @event.startSecond != "" && @event.startSecond != nil %>
  <tr>
    <td>Tag 2</td>
    <td></td>
    <td><%= @event.startSecond.to_time.strftime("%d.%m.%Y") %></td>
    <td></td>
  </tr>
  <tr>
    <td>Beginn:</td>
    <td><%= @event.startSecond.to_time.strftime("%k:%M") %></td>
    <td>Ende:</td>
    <td><%= @event.endSecond.to_time.strftime("%k:%M") %></td>
  </tr>
  <% end %>
  <% if @event.startThird != "" && @event.startThird != nil %>
  <tr>
    <td>Tag 3</td>
    <td></td>
    <td><%= @event.startThird.to_time.strftime("%d.%m.%Y") %></td>
    <td></td>
  </tr>
  <tr>
    <td>Beginn:</td>
    <td><%= @event.startThird.to_time.strftime("%k:%M") %></td>
    <td>Ende:</td>
    <td><%= @event.endThird.to_time.strftime("%k:%M") %></td>
  </tr>
  <% end %>

</table>
</p>
</body>
</html>