<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Veranstaltungsänderungen</title>
</head>
<body>
<h1>Veränderung der Veranstaltung: "<%= @event.title %>"</h1>

<table>
  <tr>
    <td>Veranstaltung: </td>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <td>Beschreibung: </td>
    <td><%= @event.description %></td>
  </tr>
  <tr>
    <td>Startzeit: </td>
    <td><%= @event.start %></td>
  </tr>
  <tr>
    <td>endzeit: </td>
    <td><%= @event.end %></td>
  </tr>

</table>
</p>
</body>
</html>