<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Anmeldung zu einer Vernstaltung der VKM</title>
</head>
<body>
<h1>Anmeldung zur Veranstaltung: "<%= @event.title %>"</h1>

<table>
  <tr>
    <td></td>
    <td>Veranstaltung: </td>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <td></td>
    <td>Beschreibung: </td>
    <td><%= @event.description %></td>
  </tr>
  <tr>
    <td>Tag 1</td>
    <td>Startzeit: </td>
    <td><%= @event.start %></td>
  </tr>
  <tr>
    <td>Tag 1</td>
    <td>endzeit: </td>
    <td><%= @event.end %></td>
  </tr>
  <tr>
    <td>Tag 2</td>
    <td>Startzeit: </td>
    <td><%= @event.startSecond %></td>
  </tr>
  <tr>
    <td>Tag 2</td>
    <td>endzeit: </td>
    <td><%= @event.endSecond %></td>
  </tr>
  <tr>
    <td>Tag 3</td>
    <td>Startzeit: </td>
    <td><%= @event.startThird %></td>
  </tr>
  <tr>
    <td>Tag 3</td>
    <td>endzeit: </td>
    <td><%= @event.endThird %></td>
  </tr>

</table>
Sie erhalten in Kürze eine weitere Bestätigung.
</p>

<p>Mit freundlichen Grüßen</p>
<p>Das VKM Team</p>
</body>
</html>