<!DOCTYPE html>

<html lang="de">

<head>

  <meta charset="UTF-8">

  <title>Anmeldung zu einer Vernstaltung der VKM</title>

</head>

<body>

<h1>Anmeldung zur Veranstaltung: "<%= @event.title %>"</h1>

<p style="font-size: 1.2em;"><b>Veranstaltung: <%= @event.title %></b></p>

<p style="font-size: 1.2em;"><b>Beschreibung: <%= @event.description %></b></p>


<p>Seminartermin: <% if @event.endThird != "" && @event.endThird != nil %> <%= @event.start.to_time.strftime("%d.%m.%Y") %> &ndash; <%= @event.endThird.to_time.strftime("%d.%m.%Y") %> <% elsif @event.endSecond != "" && @event.endSecond != nil %> <%= @event.start.to_time.strftime("%d.%m.%Y") %> &ndash; <%= @event.endSecond.to_time.strftime("%d.%m.%Y") %> <% else %> <%= @event.end.to_time.strftime("%d.%m.%Y") %> <% end %>
</p>
<p>Ihre angemeldeten Daten:</p>
<table>
  <tr>
    <td colspan="2">
      <p><b><%= @member.gender%> <%= @member.firstName %> <%= @member.lastName %></b></p>
      <p><small>Beruf: <%= @member.job %></small></p>
    </td>
  </tr>
  <tr>
    <td>
      <p><b>Kontaktdaten</b></p>
      <%= @member.street %><br />
      <%= @member.plz %> <%= @member.place %><br />
      <br />
      Telefon: <%= @member.phone %><br />
      E-Mail:  <%= @member.eMail %>
    </td>
    <td>
      <p><b>Rechnungsanschrift</b></p>
      <%= @member.nameR %><br />
      <%= @member.adresseR %><br />
      <%= @member.ortR %><br />

      <% if @member.payed != "" %>
          <br />
          <p>Kostenstelle/Bestellkennzeichen: <%= @member.payed %></p>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <p><b>Dienststelle</b></p><br>
      <%= @member.nameCompany %><br>
      <%= @member.streetCompany %><br>
      <%= @member.placeCompany %><br />
      E-Mail: <%= @member.eMailD %><br />
      Telefon: <%= @member.phoneD  %><br />
      Fax: <%= @member.faxD %>
    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td>
      <p><b>Buchung</b></p>
      Zimmer: <%= @member.room %><br>
      Unverträglichkeiten / Vegetarier: <%= @member.veggie %>
    </td>
    <td>
    </td>
  </tr>
</table>



<p>

Sie erhalten in Kürze eine weitere Bestätigung.

</p>



<p>Mit freundlichen Grüßen</p>

<p>Ihr vkm-rwl</p>

</body>

</html>