<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Anmeldung zu einer Vernstaltung der VKM</title>
</head>
<body>
<h1>Anmeldung zur Veranstaltung: "<%= @event.title %>"</h1>

<table>
  <tr>
    <td></td>
    <td>Veranstaltung: </td>
    <td style="min-width: 150px;"><%= @event.title %></td>
  </tr>
  <tr>
    <td></td>
    <td>Beschreibung: </td>
    <td><%= @event.description %></td>
  </tr>
  <tr>
    <td>Tag 1</td>
    <td style="text-align: right;">am </td>
    <td><%= @event.start.to_time.strftime("%d.%m.%Y") %></td>
    <td></td>
  </tr>
  <tr>
    <td style="text-align: right">Beginn:</td>
    <td><%= @event.start.to_time.strftime("%k:%M") %> Uhr</td>
    <td style="text-align: right">Ende:</td>
    <td><%= @event.end.to_time.strftime("%k:%M") %> Uhr</td>
  </tr>
  <% if @event.startSecond != "" && @event.startSecond != nil %>
      <tr>
        <td>Tag 2</td>
        <td style="text-align: right;">am </td>
        <td><%= @event.startSecond.to_time.strftime("%d.%m.%Y") %></td>
        <td></td>
      </tr>
      <tr>
        <td style="text-align: right">Beginn:</td>
        <td><%= @event.startSecond.to_time.strftime("%k:%M") %> Uhr</td>
        <td style="text-align: right">Ende:</td>
        <td><%= @event.endSecond.to_time.strftime("%k:%M") %> Uhr</td>
      </tr>
  <% end %>
  <% if @event.startThird != "" && @event.startThird != nil %>
      <tr>
        <td>Tag 3</td>
        <td style="text-align: right;">am </td>
        <td><%= @event.startThird.to_time.strftime("%d.%m.%Y") %></td>
        <td></td>
      </tr>
      <tr>
        <td style="text-align: right">Beginn:</td>
        <td><%= @event.startThird.to_time.strftime("%k:%M") %> Uhr</td>
        <td style="text-align: right">Ende:</td>
        <td><%= @event.endThird.to_time.strftime("%k:%M") %> Uhr</td>
      </tr>
  <% end %>

</table>

Sie erhalten in Kürze eine weitere Bestätigung.
</p>

<p>Mit freundlichen Grüßen</p>
<p>Ihr vkm-rwl</p>
</body>
</html>