<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Neue Anfrage auf In House Schulung</title>
</head>
<body>
<table>
  <tr>
    <td></td>
    <td><b>Einrichtung</b></td>
    <td><%= @schulung[:einrichtung] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Straße</b></td>
    <td><%= @schulung[:straße] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>PLZ und Ort</b></td>
    <td><%= @schulung[:ort] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Telefon</b></td>
    <td><%= @schulung[:tel] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>E-Mail-Adresse</b></td>
    <td><%= @schulung[:email] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Ansprechpartner</b></td>
    <td><%= @schulung[:partner] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Thema</b></td>
    <td><%= @schulung[:thema] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Personenanzahl</b></td>
    <td><%= @schulung[:personen] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Termine</b></td>
    <td><%= @schulung[:termine] %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Anmerkungen</b></td>
    <td><%= @schulung[:anmerkungen] %></td>
  </tr>

</table>

</body>
</html>