<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Anmeldung zu einer Vernstaltung der VKM</title>
</head>
<body>
<h1>Anmeldung zur Veranstaltung: "<%= @event.title %>"</h1>
<p style="font-size: 1.2em;"><b>Veranstaltung: <%= @event.title %></b></p>
<p style="font-size: 1.2em;"><b>Beschreibung: <%= @event.description %></b></p>
<table>

  <tr>
    <td><b>Tag 1 am <%= @event.start.to_time.strftime("%d.%m.%Y") %></b></td>
    <td></td>
  </tr>
  <tr>
    <td>Beginn: <%= @event.start.to_time.strftime("%k:%M") %> Uhr</td>
    <td>Ende: <%= @event.end.to_time.strftime("%k:%M") %> Uhr</td>
  </tr>
  <% if @event.startSecond != "" && @event.startSecond != nil %>
      <tr>
        <td><b>Tag 2 am <%= @event.startSecond.to_time.strftime("%d.%m.%Y") %></b></td>
        <td></td>
      </tr>
      <tr>
        <td>Beginn: <%= @event.startSecond.to_time.strftime("%k:%M") %> Uhr</td>
        <td>Ende: <%= @event.endSecond.to_time.strftime("%k:%M") %> Uhr</td>
      </tr>
  <% end %>
  <% if @event.startThird != "" && @event.startThird != nil %>
      <tr>
        <td><b>Tag 3 am <%= @event.startThird.to_time.strftime("%d.%m.%Y") %></b></td>
        <td></td>
      </tr>
      <tr>
        <td>Beginn: <%= @event.startThird.to_time.strftime("%k:%M") %> Uhr</td>
        <td>Ende: <%= @event.endThird.to_time.strftime("%k:%M") %> Uhr</td>
      </tr>
  <% end %>

</table>
<p>
Sie erhalten in Kürze eine weitere Bestätigung.
</p>

<p>Mit freundlichen Grüßen</p>
<p>Ihr vkm-rwl</p>
</body>
</html>