<%= form_for(abo_newsletter) do |f| %>
  <% if abo_newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(abo_newsletter.errors.count, "error") %> prohibited this abo_newsletter from being saved:</h2>

      <ul>
      <% abo_newsletter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eMail %>
    <%= f.text_field :eMail, "Email Adresse" %>
  </div>
<!--
  <div class="field">
    <= #f.label :enable %>
    <= #f.check_box :enable %>
  </div> -->
<!--
  <div class="field">
    <#%= f.label :newsletter_id %>
    <#%= f.text_field :newsletter_id %>
  </div>
-->
  <div class="actions">
    <%= f.submit "Newsletter jetzt abonnieren" %>
  </div>
<% end %>
