<p id="notice"><%= notice %></p>

<h1>Abo Newsletters</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Enable</th>
      <th>Newsletter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abo_newsletters.each do |abo_newsletter| %>
      <tr>
        <td><%= abo_newsletter.eMail %></td>
        <td><%= abo_newsletter.enable %></td>
        <td><%= abo_newsletter.newsletter %></td>
        <td><%= link_to 'Show', abo_newsletter %></td>
        <td><%= link_to 'Edit', edit_abo_newsletter_path(abo_newsletter) %></td>
        <td><%= link_to 'Destroy', abo_newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Abo Newsletter', new_abo_newsletter_path %>
