<div class="col-xs-12">
  <h1>Neuen Abonennten für den Newsletter</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>
<div class="col-sm-12">
  <p id="notice"><%= notice %></p>
<%= render 'form', abo_newsletter: @abo_newsletter %>
</div>
<div class="col-sm-12">
  <h3>Newsletter Archiv</h3>
  <% @count = 13 %>
  <% @newsletter.each do |n| %>
    <a href="../newscontents/<%=n.id%>" style="color: #f59d0e;">vkm-rwl Newsletter <%=@count%>/2017</a><br />
      <% @count = @count + 1 %>

  <% end %>
</div>
<% if current_user.present? %>

<% end %>
