<div class="col-xs-12">
  <h1>Newsletter abonnieren</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>
<div class="col-sm-12">
  <p id="notice"><%= notice %></p>
<%= render 'form', abo_newsletter: @abo_newsletter %>
</div>
<div class="col-sm-12">
  <h3>Newsletter Archiv</h3>
  <% @newsletter.each do |n| %>
    » <a href="../news_contents/<%=n.id%>" style="color: #f59d0e;"><%= n.title %></a><br />
  <% end %>
</div>
<% if current_user.present? %>

<% end %>
