<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @abo_newsletter.eMail %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @abo_newsletter.enable %>
</p>
<!--
<p>
  <strong>Newsletter:</strong>
  <#%= @abo_newsletter.newsletter %>
</p>
-->
<%= link_to 'Bearbeiten', edit_abo_newsletter_path(@abo_newsletter) %> |
<%= link_to 'Zurück', abo_newsletters_path %>
