<div class="col-xs-12">
  <h1>Newsletter Bearbeiten</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>

<% if @news_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_content.errors.count, "error") %> prohibited this news_content from being saved:</h2>

      <ul>
        <% @news_content.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<script src="/assets/tinymce/preinit.self-84328a53e798df12f891eb49871773fd9f925439c8630e9e22423a82ef9e6f89.js?body=1"></script>
<script src="/assets/tinymce/tinymce.self-32bea8c9c9f81b871d51a186ff33640087e78acd6519c30da7b2797692227a6c.js?body=1"></script>
<script src="/assets/tinymce.self-75a11da44c802486bc6f65640aa48a730f0f684c5c07a42ba3cd1735eb3fb070.js?body=1"></script>
<form class="new_newscontent" id="new_newscontent" action="/news_contents" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="XyPpaKiBx1NrFvhgzEvpJ0NI8TYObumPd89s98d/bl9y+ikAaYfFpfyHPHAIyzDC5PjK1rrm99ILqfK9+eUh8A==" />

  <div class="field">
    <label for="newscontent_title">Überschrift</label>
    <input type="text" name="news_content[title]" id="newscontent_title" value="<%= @news_content.title %>"></textarea>
  </div>

  <div class="field">
    <label for="newscontent_content">News</label>
    <textarea type="text" class="tinymce" rows="40" cols="60" name="news_content[content]" id="newscontent_content" value="<%= @news_content.content %>"></textarea>
  </div>

  <div class="field">
    <label for="newscontent_sendtime">Sendedatum</label>
    <input size="16" type="text" name="news_content[sendtime]" id="newscontent_sendtime" readonly class="form_datetime" value="<%= @news_content.sendtime %>">

  </div>

  <div class="form-group field">
    <label for="newscontent_newsletter_id">Newsletter Layout</label>

    <select class="form-group" name="news_content[newsletter_id]" id="newscontent_newsletter_id">
      <% @newsletters.each do |newsletter| %>
          <% if newsletter.id == @news_content.newsletter_id %>
            <option value="<%= newsletter.id %>" selected ><%= newsletter.from %></option>
          <% else %>
            <option value="<%= newsletter.id %>"><%= newsletter.from %></option>
          <% end %>
      <% end %>
    </select>

  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Newsletter erstellen" data-disable-with="Newsletter erstellen" />
  </div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    });
    //<![CDATA[
    (function() {
        function initTinyMCE() {
            if (typeof tinyMCE != 'undefined') {
                tinymce.remove();
                tinyMCE.init({
                    selector: "textarea.tinymce",
                    theme_advanced_toolbar_location: "top",
                    theme_advanced_toolbar_align: "left",
                    theme_advanced_statusbar_location: "bottom",
                    theme_advanced_buttons3_add: ["tablecontrols","fullscreen"],
                    plugins: "table,fullscreen",
                    toolbar: "forecolor backcolor"
                });
            } else {
                setTimeout(initTinyMCE, 50);
            }
        }

        initTinyMCE();
    })();

    //]]>
</script>


<%= link_to 'Zurück', news_contents_path %>
