<div class="col-xs-12">
  <h1>Newsletter Bearbeiten</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>

<% if @news_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_content.errors.count, "error") %> prohibited this news_content from being saved:</h2>

      <ul>
        <% @news_content.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<script src="/assets/tinymce/preinit.self-84328a53e798df12f891eb49871773fd9f925439c8630e9e22423a82ef9e6f89.js?body=1"></script>
<script src="/assets/tinymce/tinymce.self-32bea8c9c9f81b871d51a186ff33640087e78acd6519c30da7b2797692227a6c.js?body=1"></script>
<script src="/assets/tinymce.self-75a11da44c802486bc6f65640aa48a730f0f684c5c07a42ba3cd1735eb3fb070.js?body=1"></script>
<form class="new_newscontent" id="new_newscontent" action="/news_contents/<%= @id %>/edit" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <div class="form-group row">
    <label for="newscontent_title" class="col-sm-2 control-label">Überschrift</label>
    <div class="col-sm-10">
      <input type="text" name="news_content[title]" id="newscontent_title" class="form-control" value="<%= @news_content.title %>" />
    </div>
  </div>

  <div class="form-group row">
    <label for="newscontent_sendtime" class="col-sm-2 control-label" >Sendedatum</label>
    <div class='input-group date col-sm-10' id="newscontent_sendtime" style="padding-left: 15px; padding-right: 15px;">
      <input type='text' class="form-control" name="news_content[sendtime]" value="<%= @news_content.sendtime.to_time.strftime("%d.%m.%Y %k:%M") %>" required/>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>

  <div class="form-group row">
    <label for="newscontent_newsletter_id" class="col-sm-2 control-label">Newsletter Layout</label>
    <div class="col-sm-10">
      <select class="form-group form-control" name="news_content[newsletter_id]" id="newscontent_newsletter_id" >
      <% @newsletters.each do |newsletter| %>
          <% if newsletter.id == @news_content.newsletter_id %>
            <option value="<%= newsletter.id %>" selected ><%= newsletter.from %></option>
          <% else %>
            <option value="<%= newsletter.id %>"><%= newsletter.from %></option>
          <% end %>
      <% end %>
    </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="newscontent_content" class="col-sm-2 control-label">News</label>
    <div class="col-sm-10">
      <textarea class="tinymce" rows="30" name="news_content[content]" id="newscontent_content" ><%= @news_content.content.html_safe %></textarea>
    </div>
  </div>

  <div class="form-group row actions">
    <div class="col-sm-offset-2" style="padding: 0px 15px;">
      <input type="submit" class="btn btn-default" name="commit" value="Newsletter erstellen" data-disable-with="Newsletter erstellen" />
    </div>
  </div>
</form>
<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/tinymce_assets/" accept-charset="UTF-8" method="post" enctype="multipart/form-data" style="width:0px;height:0px;overflow:hidden">
  <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input name="image[file]" type="file" onchange="$('#my_form').ajaxSubmit({ success: function(d){eval(d);} });this.value='';">
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $('#newscontent_sendtime').datetimepicker({
            locale: 'de'
        });
    });
    //<![CDATA[
    (function() {
        function initTinyMCE() {
            if (typeof tinyMCE != 'undefined') {
                tinymce.remove();
                tinymce.init({
                    language: "de",
                    selector: ".tinymce",
                    height: 500,
                    plugins: [
                        "advlist autolink autosave link image imagetools lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "table contextmenu directionality emoticons template textcolor paste textcolor colorpicker textpattern"
                    ],
                    file_browser_callback: function(field_name, url, type, win) {
                        if(type=='image') $('#my_form input').click();
                    },
                    toolbar1: "fontselect | fontsizeselect | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | table spellchecker | outdent indent | link unlink | image | rotateleft rotateright | flipv fliph | blockquote code | preview",

                    menubar: 'file edit insert view format',
                    toolbar_items_size: 'normal',

                    content_css: [
                        '//https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
                    ]
                });

            } else {
                setTimeout(initTinyMCE, 50);
            }
        }

        initTinyMCE();
    })();

    //]]>
</script>


<%= link_to 'Zurück', news_contents_path %>
