<div class="col-xs-12">
  <h1>Newslettersystem</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>

<p id="notice"><%= notice %></p>
<div class="col-xs-12">

  <% if current_user.present? %>
      <% if current_user.has_role?(:superadmin)%>
        <div class="list-group">
          <a href="/newsletters/new" class="list-group-item" target="_self">Neues Layout erstellen</a>
        </div>
      <% end %>

      <h3>Neuigkeiten Archiv</h3>
		  
		  <%= link_to 'Neuer Newsletter erstellen', new_news_content_path, target: "_self", class: "btn btn-default" %>
			<br><br>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Überschrift</th>
            <th>Newsletter Inhalt</th>
            <th>Sendedatum</th>
            <th>Gesendet</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @news_contents.each do |news_content| %>
              <tr>
                <td><%= news_content.title %></td>
                <td><%= truncate(ActionView::Base.full_sanitizer.sanitize(news_content.content.html_safe), length: 200) %></td>
                <td><%= news_content.sendtime %></td>
                <td><% if news_content.sendStatus %> Versendet <% else %> Nicht versendet <% end %></td>
                <td><%= link_to 'Anzeigen', news_content, class: "btn btn-default" %></td>
                <td><%= link_to 'Bearbeiten', edit_news_content_path(news_content), class: "btn btn-default", :target => "_self" %></td>
                <td><%= link_to 'Löschen', news_content, class: "btn btn-default", method: :delete, data: { confirm: 'Sind sie sich sicher?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to 'Neuer Newsletter erstellen', new_news_content_path, target: "_self", class: "btn btn-default" %>
</div>

  <% else %>
      » <%= link_to 'Melden Sie sich für den Newsletter an', new_abo_newscontent_path %>
  <% end %>


