<div class="col-xs-12">
  <h1>Newslettersystem</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>
<div class="col-xs-12">
  <p id="notice"><%= notice %></p>
</div>

<div class="col-xs-12">
  <h2><%= @newscontent.title %></h2>
</div>
<div class="col-xs-12 mehrspaltig">
  <p><%= @newscontent.content.html_safe %></p>
</div>
<div class="col-xs-12">
  <% if @newscontent.sendStatus %>
    <p>Wird am <%= @newscontent.sendtime %> gesendet.</p>
  <% else %>
    <p>Wurde schon versendet.</p>
  <% end %>

</div>

<div class="col-xs-12">
  <%= link_to 'Zurück', news_contents_path %>
</div>