<div class="col-xs-12">
  <h1>Veranstaltung bearbeiten</h1>
</div>
<div class="col-xs-12">
  <form class="new_event" id="new_event" action="/administrator/rooms/event/<%= @id %>" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="XyPpaKiBx1NrFvhgzEvpJ0NI8TYObumPd89s98d/bl9y+ikAaYfFpfyHPHAIyzDC5PjK1rrm99ILqfK9+eUh8A==" />


    <div class="form-group">
    <label for="title">Titel</label>
    <input id="title" type="text" value="<%= @event.title %>" name="event[title]" class="form-control" placeholder="Titel" require/>
  </div>
  <div class="form-group">
    <label for="description">Beschreibung</label>
    <textarea id="description" type="text" class="form-control" name="event[description]" placeholder="Beschreibung" ><%= @event.description %></textarea>
  </div>


  <div class="form-group">
    <label for="dateL">Anmeldezeitraum</label>
    <input id="dateL" class="form-control date-picker" type="text" name="event[dateL]" value="<%= @event.startLogin.strftime("%d-%m-%Y %k:%M") %> - <%= @event.endLogin.strftime("%d-%m-%Y %k:%M") %>"/>
  </div>

  <div class="form-group">
    <label for="date">Zeitraum</label>
    <input date-range-picker id="date" class="form-control date-picker" type="text" name="event[date]" value="<%= @event.start.strftime("%d-%m-%Y %k:%M") %> - <%= @event.end.strftime("%d-%m-%Y %k:%M") %>"/>
  </div>

  <div class="form-group">
    <label for="minSize">Mindest Anzahl an Mitgliedern</label>
    <input id="minSize" type="number" value="<%= @event.minSize %>" class="form-control" name="event[minSize]" placeholder="Mindest Anzahl an Mitgliedern" />
  </div>

  <!--
          <div class="form-group">
              <label for="maxSize">Maximalanzahl an Mitgliedern</label>
              <input id="maxSize" type="number" ng-model="newEvent.maxSize" class="form-control" placeholder="Maximalanzahl an Mitgliedern" value="{{room.size}}" disabled/>
          </div> -->
  <button type="submit" class="btn btn-default" >Speichern</button>


</form>

  <a data-confirm="Sind sie sich sicher?" class="btn btn-danger"  style="margin-top: 20px;" rel="nofollow" data-method="delete" href="/event/<%= @event.id %>">Veranstaltung Löschen</a>
</div>
<script type="text/javascript">
    $(function() {

        $('input[name="event[dateL]"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 5,
            timePicker24Hour: true,
            locale: {
                applyLabel: "Waehlen",
                fromLabel: "Von",
                format: "DD-MM-YYYY HH:mm",
                toLabel: "Bis",
                cancelLabel: "Schließen"
            }
        });
        $('input[name="event[date]"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 5,
            timePicker24Hour: true,
            locale: {
                applyLabel: "Waehlen",
                fromLabel: "Von",
                format: "DD-MM-YYYY HH:mm",
                toLabel: "Bis",
                cancelLabel: "Schließen"
            }
        });
    });
</script>