<div class="col-xs-12">
  <h1>Kontakt</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Kontakt.jpg", :alt => "Kontakt", :class => "img-responsive center-block") %>
</div>
<div class="col-xs-12 col-sm-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9933.745465086298!2d7.405012!3d51.5052099!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7649713ab804a8d1!2sVerband+kirchlicher+Mitarbeiterinnen+u.+Mitarbeiter+Rheinland-Westfalen-Lippe+(vkm-rwl)!5e0!3m2!1sde!2sde!4v1488804297914" width="100%" height="570" frameborder="0" style="border:1px solid rgba(0,0,0,0.3);" allowfullscreen></iframe>
</div>
<div class="col-xs-12 col-sm-6">

	<p><strong>Verband kirchlicher Mitarbeiterinnen und Mitarbeiter Rheinland-Westfalen-Lippe</strong><br>Beratgerstr. 36<br>44149 Dortmund<br> Tel: 0231 579743<br> Fax: 0231 579754<br />» <a href="mailto:info@vkm-rwl.de" style="">info@vkm-rwl.de</a><br />» <a href="www.vkm-rwl.de">www.vkm-rwl.de</a></p>

<br>
  <p>
    Bitte wenden Sie sich bei Rückfragen betreffend Mitglieder- und Seminarangelegenheiten in der Zeit <br>von 8.00 – 12.00 Uhr von Montags – Donnerstags an Frau von Kolken unter der Ruf-Nummer <strong>0231 529340.</strong>
  </p>
<br>
  <%= form_for(@contact_form) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name", class: "control-label" %>
        <%= f.text_field :name, class: "form-control", :required => true %>
      </div>
        <div class="form-group">
          <%= f.label :name, "E-Mail Adresse", class: "control-label" %>
          <%= f.text_field :email, class: "form-control", :required => true %>
        </div>
          <div class="form-group">
            <%= f.label :name, "Nachricht", class: "control-label" %>
            <%= f.text_area :message, class: "form-control" %>
          </div>
      <div class="form-group" style="margin: 10px 0;">

        <%= f.check_box :accept, :required => true %>

        <%= f.label :accept, "Hiermit erteile ich dem vkm-rwl die Erlaubnis, mich per Mail zu kontaktieren, wenn es meine Anfrage erfordert.", class:"checkbox-inline", style:"margin-top: -25px;" %>
      </div>
      <%= f.submit "Absenden", class: "btn btn-default" %>
  <% end %>
</div>