<div class="col-xs-12">
  <h1>Dokumentenbereich</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Zugangsbereich.jpg", :alt => "Zugangsbereich", :class => "img-responsive center-block") %>
</div>
<br />

<%= link_to "Neues Dokument hochladen", new_resume_path, class: "btn btn-default" %>

<br />
<br />
<div class="col-xs-12">
  <h2>Liste aller Accounts</h2>
  <table class = "table table-responsive table-striped half">
    <thead>
    <tr>
      <th>Name</th>
      <th>Zu den Dokumente</th>
      <th> </th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>

        <tr>
          <td><%= user.email %></td>
          <td><%= link_to "Anzeigen", "/dokumente/" + user.email, :target => "_self" %></td>
          <td><%= link_to "Löschen",  user_registration_path, method: :delete, class: "btn btn-danger", data: { confirm: "Sind Sie sich sicher \"#{user.email}\" zu Löschen?" } %></td>
        </tr>

    <% end %>
    </tbody>

  </table>
</div>

<div class="col-xs-12">
  <h2>Liste aller Dokumente</h2>
  <table class = "table table-responsive table-striped half">
    <thead>
    <tr>
      <th>Name</th>
      <th>Dokumenten Link</th>
      <th> </th>
    </tr>
    </thead>

    <tbody>
    <% @resumes.each do |resume| %>

        <tr>
          <td><%= resume.name %></td>
          <td><%= link_to "Anzeigen", resume.attachment_url, :target => "_blank" %></td>
          <td><%= link_to "Löschen",  resume, method: :delete, class: "btn btn-danger", data: { confirm: "Sind Sie sich sicher \"#{resume.name}\" zu Löschen?" } %></td>
        </tr>

    <% end %>
    </tbody>

  </table>
</div>