<div class="col-xs-12">
  <h1>Aktuelle Veranstaltungen</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Schulungstermine.jpg", :alt => "Aktuelleveranstaltungen", :class => "img-responsive center-block") %>

</div>
  <div class="col-xs-12">

  <% @color = true %>
  <% @events.each do |event|
    if(@color == true)
      @color = false;%>

          <div class="thumbnail col-xs-12 col-sm-6 col-md-3" style="">
            <div class="caption">
              <h3><%= event.start.to_time.strftime("%d.%m.%Y %H:%M") %> - <% if event.endThird != "" && event.endThird != nil %> <%= event.endThird.to_time.strftime("%d.%m.%Y %H:%M") %> <% elsif event.endSecond != "" && event.endSecond != nil %> <%= event.endSecond.to_time.strftime("%d.%m.%Y %H:%M") %> <% else %> <%= event.end.to_time.strftime("%d.%m.%Y %H:%M") %> <% end %><br><%= event.title %></h3>
              <%@rooms.each do |room|
                if(event.room_id == room.id) %>
                  <p><%= room.building %></p>
                      <a href="/fortbildung/seminare/neu/<%=event.id%>" style="position: absolute;color: #f59d0e; bottom: 1em; right: 1em;">Anmelden</a>
                  <%#= link_to 'Anmelden', new_member_path(event), :style => 'float: right;color: #f4bfa5;' %>
              <% end %>
              <% end %>
            </div>
          </div>
      <% elsif(@color == false)
           @color = true%>
          <div class="thumbnail col-xs-12 col-sm-6 col-md-3" style="background-color: #f1f1f1;">
            <div class="caption">
              <h3><%= event.start.to_time.strftime("%d.%m.%Y %H:%M") %> - <% if event.endThird != "" && event.endThird != nil %> <%= event.endThird.to_time.strftime("%d.%m.%Y %H:%M") %> <% elsif event.endSecond != "" && event.endSecond != nil %> <%= event.endSecond.to_time.strftime("%d.%m.%Y %H:%M") %> <% else %> <%= event.end.to_time.strftime("%d.%m.%Y %H:%M") %> <% end %><br><%= event.title %></h3>
              <%@rooms.each do |room|
                if(event.room_id == room.id) %>
                      <p><%= room.building %></p>
                      <a href="/fortbildung/seminare/neu/<%=event.id%>" style="position: absolute;color: #f59d0e; bottom: 1em; right: 1em;">Anmelden</a>
                      <%#= link_to 'Anmelden', new_member_path(event), :style => 'float: right;color: #f4bfa5;' %>
            <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
  </div>

  <div class="col-xs-12" style="margin-top: 5px; border-top: 0.5px solid #f59d0e; padding-top: 5px;">

    <% if @eventsOver != nil %>
    <% @eventsOver.each do |event|
      if(@color == true)
        @color = false;%>

            <div class="thumbnail col-xs-12 col-sm-6 col-md-3" style="background-color: #f1f1f1;">
              <div class="caption">
                <h3><%= event.start.to_time.strftime("%d.%m.%Y %H:%M") %> - <% if event.endThird != "" && event.endThird != nil %> <%= event.endThird.to_time.strftime("%d.%m.%Y %H:%M") %> <% elsif event.endSecond != "" && event.endSecond != nil %> <%= event.endSecond.to_time.strftime("%d.%m.%Y %H:%M") %> <% else %> <%= event.end.to_time.strftime("%d.%m.%Y %H:%M") %> <% end %><br><%= event.title %></h3>
                <%@rooms.each do |room|
                  if(event.room_id == room.id) %>
                        <p><%= room.building %></p>
                        <p style="padding-top: 2px; border-top: 0.4px solid #f59d0e;">Die Anmeldung kann nicht Online erfolgen, da die Frist bereits abgelaufen ist.
                          Da noch Plätze zur Verfügung stehen, können Sie aber ggf. noch manuell angemeldet werden.
                          Melden Sie sich dafür bei unserer <a href="/verband/geschäftsstelle" style="color: #f59d0e;">Geschäftsstelle</a>.</p>
                    <% end %>
                <% end %>
              </div>
            </div>
        <% elsif(@color == false)
             @color = true%>
            <div class="thumbnail col-xs-12 col-sm-6 col-md-3" style="">
              <div class="caption">
                <h3><%= event.start.to_time.strftime("%d.%m.%Y %H:%M") %> - <% if event.endThird != "" && event.endThird != nil %> <%= event.endThird.to_time.strftime("%d.%m.%Y %H:%M") %> <% elsif event.endSecond != "" && event.endSecond != nil %> <%= event.endSecond.to_time.strftime("%d.%m.%Y %H:%M") %> <% else %> <%= event.end.to_time.strftime("%d.%m.%Y %H:%M") %> <% end %><br><%= event.title %></h3>
                <%@rooms.each do |room|
                  if(event.room_id == room.id) %>
                        <p><%= room.building %></p>
                        <p style="padding-top: 2px; border-top: 0.4px solid #f59d0e;">Die Anmeldung kann nicht Online erfolgen, da die Frist bereits abgelaufen ist.
                          Da noch Plätze zur Verfügung stehen, können Sie aber ggf. noch manuell angemeldet werden.
                          Melden Sie sich dafür bei unserer <a href="/verband/geschäftsstelle" style="color: #f59d0e;">Geschäftsstelle</a>.</p>
                    <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
    <% end %>
    <% end %>
  
</div>