<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @member.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @member.lastName %>
</p>

<p>
  <strong>Street:</strong>
  <%= @member.street %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @member.plz %>
</p>

<p>
  <strong>Place:</strong>
  <%= @member.place %>
</p>

<p>
  <strong>Job:</strong>
  <%= @member.job %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.eMail %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @member.sleep %>
</p>

<p>
  <strong>Room:</strong>
  <%= @member.room %>
</p>

<p>
  <strong>Namecompany:</strong>
  <%= @member.nameCompany %>
</p>

<p>
  <strong>Streetcompany:</strong>
  <%= @member.streetCompany %>
</p>

<p>
  <strong>Placecompany:</strong>
  <%= @member.placeCompany %>
</p>

<p>
  <strong>Veggie:</strong>
  <%= @member.veggie %>
</p>

<p>
  <strong>Accept:</strong>
  <%= @member.accept %>
</p>

<p>
  <strong>Event:</strong>
  <%= @member.event_id %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
